
<button type="button" class="@EventListenersClass" aria-label="@EventListenersTitle"
        @onclick="HandleEventListeners" disabled="@ClearDisabled">
    @if (Disabled)
    {
        <span><i class="fas fa-bolt" aria-hidden="true"></i> Enable drag &amp; drop</span>
    }
    else
    {
        <span><i class="fas fa-minus-circle" aria-hidden="true"></i> Disable drag &amp; drop</span>
    }
</button>

@if (OptionsManager?.Model?.Files.Count > 0)
{
    <button type="button" class="btn btn-sm btn-secondary ml-2" aria-label="Clear drag & drop store, and file list"
            @onclick="DeleteFileList" disabled="@ClearDisabled">
        <span><i class="fas fa-trash" aria-hidden="true"></i> Clear</span>
    </button>
}

@if (Processing)
{
    <button type="button" class="btn btn-sm btn-secondary ml-2" aria-label="Abort file reading operation"
            @onclick="() => Manager.AbortRequested = true" disabled="@Manager.AbortRequested">
        <span><i class="fas fa-stop text-danger" aria-hidden="true"></i> Abort!</span>
    </button>
}

@code {
    [CascadingParameter] private DragDropArea DropArea { get; set; }
    [CascadingParameter] private FormManagerBase Manager { get; set; }
    [CascadingParameter] private DragDropOptionsManager OptionsManager { get; set; }

    private bool Processing => true == Manager?.IsReadingFiles;
    private bool Disabled => true == OptionsManager?.Model?.Disabled;
    private bool ClearDisabled => DropArea == null || Processing;

    private string EventListenersClass => $"btn btn-sm btn-{(Disabled ? "warning" : "success")}";
    private string EventListenersTitle => $"{(Disabled ? "Re-enables" : "Disables")} drag and drop support";

    private async Task DeleteFileList()
    {
        await DropArea.DeleteFileListAsync();
        OptionsManager.Model.ClearFiles();
        Manager.NotifyStateChanged();
    }

    private async Task HandleEventListeners()
    {
        if (!Disabled)
        {
            await DropArea.DeleteFileListAsync();
            if (await DropArea.RemoveEventListenersAsync())
            {
                OptionsManager.Model.Disabled = true;
                OptionsManager.Model.ClearFiles();
                Manager.NotifyStateChanged();
            }
        }
        else if (await DropArea.AddEventListenersAsync())
        {
            OptionsManager.Model.Disabled = false;
            Manager.NotifyStateChanged();
        }
    }
}
