@if (Metadata != null)
{
    var metadata = Metadata;
    var attr = metadata.Attribute;
    var labelText = metadata.GetDisplayName();
    var propertyName = metadata.PropertyInfo.Name;
    var inputId = Id ?? propertyName.GenerateId();

    if (attr.IsInputRadio || metadata.IsInputCheckbox)
    {
        <div class="form-group">
            @if (!string.IsNullOrWhiteSpace(labelText) && attr.IsInputRadio)
            {
                <label class="control-label">@labelText</label>
            }
            <AutoInputBase Metadata="metadata" @bind-Value="metadata.Value" Id="@inputId" class="@attr.InputCssClass" title="@attr.Description" />
            <AutoValidationMessage Model="metadata.Model" Property="@propertyName" />
        </div>
    }
    else
    {
        <InputGroupContainer Id="@inputId" LabelText="@labelText" Icon="@attr.Icon">
            <ChildContent>
                <AutoInputBase Metadata="metadata" @bind-Value="metadata.Value" Id="@inputId" class="@attr.InputCssClass" title="@attr.Description" placeholder="@attr.Prompt">
                    @ChildContent
                </AutoInputBase>
            </ChildContent>
            <ValidationContent>
                <AutoValidationMessage Model="metadata.Model" Property="@propertyName" />
            </ValidationContent>
        </InputGroupContainer>
    }
}
@code {
    [Parameter] public AutoInputMetadata Metadata { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Id { get; set; }
}