<div class="form-group">
    <div class="custom-file mt-3 mb-3">
        <input type="file" class="custom-file-input" id="@id" name="@(Name ?? id)" title="@Text">
        <label class="custom-file-label" for="@id">@Text</label>
    </div>
</div>

@code {
    private readonly string id = typeof(CustomInputFile).GenerateId();

    [Parameter] public string Name { get; set; }
    [Parameter] public string Text { get; set; } = "Choose a photo";
}