@inherits AutoFormEntryBase

@if (Metadata != null)
{
    var meta = Metadata;
    var attr = meta.Attribute;
    var displayName = meta.GetDisplayName();
    var descr = meta.GetDisplayString(attr.Description);
    var required = meta.IsRequired;
    var element = attr.GetElement(out var elementType);
    var editor = attr.RichText || true == Form?.EnableRichText && element.EqualsIgnoreCase("textarea");
    var wrapperClass = $"{(editor ? "rich-text-editor mb-3" : "form-floating")} {element} {elementType}";
    var placeholder = editor ? null : meta.GetDisplayString(attr.Placeholder) ?? meta.GetDisplayString(attr.Prompt) ?? descr;
    if (!editor && placeholder.IsBlank())
    {
        placeholder = displayName;
    }
    var attributes = GetAttributes
    (
        ("class", attr.InputCssClass),
        ("placeholder", placeholder),
        ("title", descr)
    );
    <div class="@wrapperClass">
        @if (editor)
        {
            <QuillEditor Target="@("#" + Id)" />
            var labelAttr = GetAttributes(("class", meta.IsRequired ? "required" : null));
            <label @attributes="@labelAttr">@displayName</label>
        }
        <AutoInputBase @ref="autoInputBaseRef" @bind-Value="Value" Id="@Id" Name="@Name" Metadata="meta" Model="Model" PropertyNavigationPath="@PropertyNavigationPath" @attributes="attributes">
            @ChildContent
        </AutoInputBase>
        @if (!editor)
        {
            var labelAttr = GetAttributes
            (
                ("for", editor ? null : autoInputBaseRef?.Id),
                ("class", meta.IsRequired ? "required" : null)
            );
            <label @attributes="@labelAttr">@displayName</label>
        }
        @if (editor)
        {
            <HelpText Description="@descr" />
        }
    </div>
    @*<AutoValidationMessage Model="Model" Property="@meta.PropertyInfo.Name" />*@
}

@code {
    private AutoInputBase? autoInputBaseRef;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
