@if (!IsHidden)
{
    var ico = ButtonIcon;
    var cls = string.Join(" ", $"{Class} {Options?.Class} {ButtonCssClass}".Trim().Split(' ').Distinct());

    <button type="@ButtonType" class="@cls" @onclick="HandleClick" 
        disabled="@CheckIsDisabled" @attributes="AdditionalAttributes">
        @if (CheckIsBusy)
        {
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        }
        &nbsp; @if (ico.IsNotBlank()) { <i class="@ico"></i><text>&nbsp;</text> } 
        <span @attributes="@(GetAttributes(("class", TextCssClass)))">@ButtonText</span>
    </button>
    @if (true == Manager?.IsDebug)
    {
        <button type="button" class="btn btn-danger"
                aria-label="Simulate AJAX upload with progress report not supported by browser"
                @onclick="Manager.RaiseAjaxUploadWithProgressNotSupportedAsync">
            Show Browser Info
        </button>
    }
}

@code {
    [Parameter] public FormManagerBase? Manager { get; set; }
    [Parameter] public string? Text { get; set; }
    [Parameter] public string? Type { get; set; }
    [Parameter] public string? Icon { get; set; } = "fas fa-save";
    [Parameter] public string? Class { get; set; }
    [Parameter] public bool ForceSubmit { get; set; }
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public bool IsBusy { get; set; }
    [Parameter] public bool IsHidden { get; set; }
    [Parameter] public bool CenterText { get; set; }
    //[Parameter] public bool JustifyContentCenter { get; set; } = true;
    [Parameter] public SubmitButtonOptions? Options { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Clicked { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object>? AdditionalAttributes{ get; set; }

    [CascadingParameter] private FormManagerBase? Form { get; set; }

    private string? ButtonText => Options?.Text ?? Text;

    private string ButtonType
    {
        get
        {
            var type = Options?.Type ?? Type;
            return type.IsNotBlank() ? type! : (ForceSubmit || Form != null ? "button" : "submit");
        }
    }

    private string? ButtonIcon => Options?.Icon ?? Icon;

    private bool IsTextCentered => Options?.CenterText ?? CenterText;

    private bool CheckIsDisabled => IsDisabled || CheckIsBusy;

    private bool CheckIsBusy
    {
        get
        {
            if (IsBusy) return true;

            var f = Manager ?? Form;

            if (f is not null)
                return f.IsUploadingFiles && f.IsLongRunning;
            
            return false;
        }
    }

    private string TextCssClass => IsTextCentered ? "align-items-center w-100" : "";

    private string ButtonCssClass => "btn btn-primary my-3 align-items-center" + (IsTextCentered ? " w-100 d-flex" : "");

    private async Task HandleClick(MouseEventArgs e)
    {
        if (Clicked.HasDelegate)
            await Clicked.InvokeAsync(e);

        else if (ForceSubmit && Manager != null)
            await Manager.SubmitFormAsync();

        else if (Form != null && (ForceSubmit || !ButtonType.EqualsIgnoreCase("submit")))
            await Form.SubmitFormAsync();
    }
}